@import "tailwindcss";

:root {
  --background: #ffffff;
  --black-1: #111111;
  --gray: #cbcbcb;
  --primary: #215CFF;
  --font-display: var(--font-display)
  --font-body: var(--font-body);
}

html{
  background-color: var(--black-1);
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 1024px;
  --color-background: var(--background);
  --color-black-1: var(--black-1);
  --color-gray: var(--gray);
  --color-primary: var(--primary);
  --font-body: var(--font-body);
  --font-display: var(--font-display);
  --color-gray-100: #D2D2D2;
  --animate-wiggle: wiggle 2s linear infinite;
  --ease-link-line: cubic-bezier(.62, .05, .01, .99);
}

body {
  color: var(--black-1);
  font-family: var(--font-body);
  font-size: 1.25vw;
  line-height: 1.4;
  background-color: #ffffff;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  overflow: hidden;
  z-index: 1;
  animation: none !important;
}

#hero{
  margin-top: -100vh;
}

.perspective-box{
  transform: perspective(1204.82px) translate3d(0px, 0px, 0px) rotateY(30deg);
}
.perspective-box-2{
  transform: perspective(904.82px) translate3d(0px, 0px, 0px) rotateY(20deg);
}
.perspective-box-4{
  transform: perspective(1204.82px) translate3d(0px, 0px, 0px) rotateY(-30deg);
}
.perspective-box-3{
  transform: perspective(904.82px) translate3d(0px, 0px, 0px) rotateY(-20deg);
}
.font-display{
  letter-spacing: 0.5px;
}
.swiper-pagination {
  padding: 0 5vw !important;
  text-align: right !important;
}
.swiper-pagination-bullet{
  background-color: white !important;
  opacity: 1 !important;
  position: relative !important;
  margin: 0 6px !important;
}
.swiper-pagination-bullet-active::after{
  content: "";
  height: 13px;
  width: 13px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/* Section Break Background */
.text-break .single-line {
  mask-image: linear-gradient(90deg,#111111 50%, #11111130 50%);
  mask-size: 800% 300%;
  mask-position: 60% 100%;
}

@keyframes wiggle {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in-delay {
  animation: fadeInDelayed 1s ease forwards;
  animation-delay: 6s;
}

/* Marquee */
@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-51.24%); }
}
.marquee {
  /* length should match the total width of one loop of items */
  animation: marquee 10s linear infinite;
}

@keyframes marqueeCompany {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-42.5%); }
}

.animate-marquee {
  animation: marqueeCompany 15s linear infinite;
}

.single-line {
  mask-image: linear-gradient(150deg,#111111 33.3%,#1a1a1a00 66.6%);
  mask-size: 500% 100%;
  mask-position: 100% 100%;
}

@keyframes marqueeVertical {
  from { transform: translateY(0); }
  to   { transform: translateY(-51.4%); }
}
.marquee-vertical {
  animation: marqueeVertical 8s linear infinite;
}
.card {
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3vw;
  padding: 2vw;
  padding-bottom: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  transform: rotateY(180deg);
}

/* link line animation */
.link-line {
  width: fit-content;
  position: relative;
}
li .link-line::after {
  bottom: -20%;
}
.link-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform-origin: right;
  transition: transform 0.5s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  transform: scaleX(0);
}
.link-line:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}


@media screen and (max-width: 1024px) {
  #hero{
    margin-top: 0;
  }

  body{
    font-size: 2.5vw !important;
  }
  .card-front,
  .card-back {
  border-radius: 5vw;
  padding: 4vw;
  padding-bottom: 5vw;
  }
}
@media screen and (max-width: 541px) {
  #hero{
    margin-top: 0;
  }

  body{
    font-size: 4.1vw !important;
  }
  .card-front,
  .card-back {
  border-radius: 9vw;
  padding: 7vw;
  padding-bottom: 10vw;
  }
  @keyframes marqueeVertical {
    from { transform: translateY(0); }
    to   { transform: translateY(-50.55%); }
  }
}

/* Company Page */
.card-wrapper {
  animation: floating 3s infinite ease-in-out;
}

#card-2 .card-wrapper {
  animation-delay: 0.2s;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, 5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}


