.sliderSection {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.wheel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100vw;
  height: 100vw;
  max-width: 4000px;
  max-height: 2000px;
  left: 50%;
  top: 115%;
  transform: translateX(-50%);
}
.wheelCard {
  position: absolute;
  top: 0;
  left: 0;
}
